body {
  text-align: center;
  background-color: #FFC6D4;
}


.page {
    width: 300px;
  background: white;
  border: 20px solid #F1A3B6;
  border-radius: 20px;
  margin: auto;
  margin-top: 8%;
}

.header {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #63d8f8;
  margin: 40px 0 15px 0;
  display: inline-block;
}

.feedback-input {
    font-family: Helvetica, Arial, sans-serif;
  color: #F1A3B6;
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
  border: 1px solid white;
  border-bottom: 1px dotted #F1A3B6;
  width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;  
}

.submit-button{
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
  background-color: white;
    color: #68d8ee;
    font-size:24px;
  margin: 25px 0 30px 0;
  padding: 10px 0;
  width: 130px;
  border: 2px solid #F1A3B6;
  border-radius: 25px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

textarea {
    height: 180px;
    line-height: 150%;
}

.submit-button:hover{
    background-color: #A3F1AE;
  border: 2px solid #A3F1AE;
  color: #4EA45B;
  font-weight: 700;
}

.definition {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 10px solid #F1A3B6;
  border-radius: 10px;
  background: white;
  color: #9B9B9B;
  position: absolute;
}

.definition:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 70%;
  top: 100px;
  border: 25px solid;
  border-color: #F1A3B6 transparent transparent #F1A3B6;
}

.name_def {
  width: 180px;
  top: 40%;
  left: 7%;
}

.email_def {
  width: 120px;
  top: 45%;
  left: 75%;
}

.message_def {
  width: 190px;
  top: 17%;
  left: 67%;
}

.feedback-input:focus {
  outline: none;
}

@media only screen and (max-width : 710px) {
  .name_def {
    left: 40%;
  }
  .email_def {
    left: 15%;
  }
  .message_def {
    left: 42%;
  }
}

